    @page "/Index"
    @page "/Index/{MetaId:int}"
    @inject MetasService metasService
    @inject NavigationManager navigationManager
    @inject IJSRuntime jsRuntime
    @rendermode InteractiveServer


<PageTitle>Metas</PageTitle>
<div class="card shadow">
    <div class="card-header">
        <h2 class="text-center">
            Metas
        </h2>
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6">
            <a href="/Create" class="btn btn-primary">
                <span>Crear <i class="bi bi-file-earmark-plus-fill"></i></span>
            </a>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    <label for="fechaDesde">Desde:</label>
                    <input class="form-control form-control-sm" type="date" @bind="Desde" />
                </div>
                <div class="col-lg-4">
                    <label for="fechaHasta">Hasta:</label>
                    <input class="form-control form-control-sm" type="date" @bind="Hasta" />
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary btn-sm mt-4" @onclick="Buscar">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-striped table-bordered">
        <thead>
            <tr bgcolor="#6962AD">
              
                <th>Fecha</th>
                <th>Descripci&oacute;n</th>
                <th>Monto</th>
                <th>Editar</th>
                <th>Detalle</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meta in MetasList)
            {
                <tr>
                    
                    <td>@meta.Fecha</td>
                    <td>@meta.Descripcion</td>
                    <td>@meta.Monto</td>
                    

                    <td>
                        <a href="/Edit/@meta.MetaId">
                            <i class="bi bi-pencil-square" style="font-size: 1.5em;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/Details/@meta.MetaId">
                            <i class=" bi bi-card-text" style="font-size: 1.5em;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/Delete/@meta.MetaId" class="link-danger">
                            <i class="bi bi-trash" style="font-size: 1.5em;"></i>
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td>Total: @Contador</td>
                <td></td>
                <td>@MontoTotal</td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int MetaId { get; set; }
    public Metas Aporte { get; set; } = new Metas();
    public DateTime? Desde { get; set; }
    public DateTime? Hasta { get; set; }
    public List<Metas> MetasList { get; set; } = new List<Metas>();
    public int Contador { get; set; }
    public decimal MontoTotal { get; set; }


    protected override void OnInitialized()
    {
        Buscar();
    }

    public void Buscar()
    {
        if (Desde.HasValue && Hasta.HasValue && Desde <= Hasta)
        {
            MetasList = metasService.Listar(ap => ap.Fecha >= Desde && ap.Fecha <= Hasta);
        }
        else
        {
            MetasList = metasService.Listar(al => true);
        }
        Contador = MetasList.Count();
        MontoTotal = MetasList.Sum(ap => ap.Monto);
    }

    public void Nuevo()
    {
        MetasList = metasService.Listar(al => true);
    }
    }
